  <form action="/ideas/vote/{{poll.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
      <h1 >{{poll.title}}</h1>
        <input type="hidden" name="id" value="{{poll._id}}">
        <select name="option" class="option">
            {{{list poll.options}}}
        </select>
        <button type="submit" class="btn btn-success">Submit</button>
  </form>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Option</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
                {{{listee poll.options}}}
            </tbody>
          </table>
          </div>
        </div>
